[defaults]
stdout_callback = ansible.builtin.default
result_format = yaml
inventory = ./inventory.yml

[ssh_connection]
ssh_args = -o ControlMaster=auto -o ControlPersist=60s \
           -o IdentitiesOnly=yes -o IdentityFile=/home/cc/.ssh/id_rsa_chameleon_ansible \
           -o StrictHostKeyChecking=off -o UserKnownHostsFile=/dev/null \
           -o ForwardAgent=yes \
           -o ProxyCommand="ssh -o IdentitiesOnly=yes -o IdentityFile=/home/cc/.ssh/id_rsa_chameleon_ansible -o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null -W %h:%p cc@129.114.26.25"
pipelining = True
